<template>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card mt-2">
                <div class="card-header">
                  <h3>Ubah Surat Masuk</h3>
                </div>
                <!-- /.card-header -->
                
                <div class="card-body">
                    <h5 class="text-center">
                      POLRI DAERAH JAWA TIMUR<br>
                      RESOR LAMONGAN SEKTOR SUKODADI
                    </h5><hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="tanggal">Tanggal</label>
                        <input type="date" class="form-control" id="tanggal" name="tanggal" value="">
                      </div>
                      <div class="form-group">
                        <label for="noAgenda">Nomor Agenda</label>
                        <input type="text" class="form-control" id="noAgenda" name="noAgenda" value="" placeholder="Nomor agenda surat">
                      </div>
                      <div class="form-group">
                        <label for="noSurat">Nomor Surat</label>
                        <input type="text" class="form-control" id="noSurat" name="noSurat" value="" placeholder="Nomor surat">
                      </div>
                      <div class="form-group">
                        <label for="tanggalSurat">Tanggal Surat</label>
                        <input type="date" class="form-control" id="tanggalSurat" name="tanggalSurat" value="">
                      </div>
                      <div class="form-group">
                        <label for="fileLampiran">Lampiran</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="fileLampiran" name="fileLampiran" value="">
                          <label class="custom-file-label" for="fileLampiran"> </label>
                          <a href="{{ }}" target="_blank">Lihat Lampiran</a>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="pengirim">Pengirim</label>
                        <input type="text" class="form-control" id="pengirim" name="pengirim" value="" placeholder="Pengirim surat">
                      </div>
                      <div class="form-group">
                        <label for="perihal">Perihal</label>
                        <input type="text" class="form-control" id="perihal" name="perihal" value="" placeholder="Perihal surat">
                      </div>
                      <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" name="status" value="">
                          <option value="Menunggu Konfirmasi">Menunggu Konfirmasi</option>
                          <option value="Selesai">Selesai</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="fileSurat">Upload File (pdf)</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="fileSurat" name="fileSurat" value="">
                          <label class="custom-file-label" for="fileSurat"></label>
                          <a href="" target="_blank">Lihat File surat</a>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="diteruskan">Diteruskan</label>
                        <select class="form-control" id="diteruskan" name="diteruskan" value="">
                          <option value="SIUM">SIUM</option>
                          <option value="RESKRIM">RESKRIM</option>
                          <option value="BABHINKAMTIBMAS">BABHINKAMTIBMAS</option>
                          <option value="SPKT">SPKT</option>
                          <option value="SABHARA">SABHARA</option>
                          <option value="INTELKAM">INTELKAM</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
</template>