<template>
  <div class="container-fluid">
    <div class="row">
      <div v-show="showIndex" class="col-10">
        <div class="card mt-2">
          <div class="card-header">
            <!-- @if(flashMessage('notification'))
                    <div class="alert alert-success">{{ flashMessage('notification') }}</div>
                  @endif -->
            <div class="row">
              <div class="col-10">
                <h3>Daftar Surat Masuk</h3>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn btn-block btn-primary"
                  data-toggle="modal"
                  data-target="#modal-add-inmails"
                >
                  <i class="fas fa-plus"></i> Tambah
                </button>
              </div>
            </div>
          </div>
          <!-- /.card-header -->

          <div class="card-body">
            <table id="tabel" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>No. Agenda</th>
                  <th>Pengirim</th>
                  <th>Diteruskan</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="inmail in inmails" :key="inmail.id">
                        <td>{{ inmail.tgl }}</td>
                        <td>{{ inmail.no_agenda }}</td>
                        <td>{{ inmail.pengirim }}</td>
                        <td>{{ inmail.diteruskan }}</td>
                        <td>
                          <template v-if="inmail.status === 'Selesai'">
                           <span class="badge bg-success">{{ inmail.status }}</span>
                          </template>
                          <template v-else>
                           <span class="badge bg-warning">{{ inmail.status }}</span>
                          </template>
                          </td>
                        <td>
                          <a href="{{ route('inmail.show', { id : inmail.id }) }}" class="mr-2">
                            <i class="fas fa-arrow-circle-right text-secondary"></i>
                          </a>
                          <a href="/disposisiedit">
                            <i class="fas fa-archive text-success"></i>
                          </a><br/>
                          <a href="#" v-bind:class="setEditInmail" @click="setEditInmail(inmail)" class="mr-2">
                            <i class="fas fa-edit text-warning"></i>
                          </a>
                          <a href="{{ route('inmail.delete', { id : inmail.id }) }}" onclick="konfirmasiHapus()">
                            <i class="fas fa-trash text-danger"></i>
                          </a>
                        </td>
                      </tr>
                      
              </tbody>
              <tfoot>
                <tr>
                  <th>Tanggal</th>
                  <th>No. Agenda</th>
                  <th>Pengirim</th>
                  <th>Diteruskan</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->

      <edit-mail-form v-show="showEdit" @edit-inmail="editInmail"/>
      <!-- col-2 -->
      <div class="col-2">
        <div class="card bg-success mt-2">
          <div class="card-body">
            <h2>
              <b @get-selesai="selesai"></b>
            </h2>
            <h6>Selesai</h6>
          </div>
        </div>

        <div class="card bg-warning mt-2">
          <div class="card-body">
            <h2>
              <b @get-selesai="proses"></b>
            </h2>
            <h6>Proses</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>

  <add-mail-form @add-inmail="addInmail"/>
</template>

<script>
import addMailForm from '@/components/inmail/addMailForm.vue'
import editMailForm from '@/components/inmail/editMailForm.vue'
export default {
    components: {
      addMailForm, 
      editMailForm,
    },
    data() {
    return {
      showIndex: true,
      showEdit: false,
      inmails: [
        {
          id: 1,
          tgl: '11-05-2022',
          no_agenda: '001',
          pengirim: 'Kantor Desa Telogerejo',
          diteruskan : 'SIUM',
          status : 'Selesai',
        },
        {
          id: 2,
          tgl: '11-05-2022',
          no_agenda: '002',
          pengirim: 'Kantor Desa Aren',
          diteruskan : '',
          status : 'Proses',
        },
        {
          id: 3,
          tgl: '11-05-2022',
          no_agenda: '002',
          pengirim: 'Kantor Desa Mangga',
          diteruskan : 'RESKRIM',
          status : 'Selesai',
        },
      ],
    }
  },
  methods: {
    addInmail(inmail){
      this.inmails.push(inmail)
    },
    setEditInmail(inmail){
      // console.log('set edit data to form');
      this.showIndex = false
      this.showEdit = true

      $('#edit-form-id').val(inmail.id)
      $('#edit-form-diteruskan').val(inmail.diteruskan)

      let getTgl = inmail.tgl.split("-").reverse().join("-")
      $('#edit-form-tanggal').val(getTgl)

      $('#edit-form-noAgenda').val(inmail.no_agenda)
      $('#edit-form-pengirim').val(inmail.pengirim)
      $('#edit-form-status').val(inmail.status)

    },
    editInmail(data){
      for (let i = 0; i < this.inmails.length; i++) {
        if (data.id == this.inmails[i].id) {
          console.log('...');
          this.inmails[i] = data
        }
      }

      this.showIndex = true
      this.showEdit = false
    },
    selesai(){
      
    },
    proses(){

    }
  }
}
</script>

