<template>
            <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card mt-2">
                <div class="card-header">
                  <h3>Ubah Surat Keluar</h3>
                </div>
                <!-- /.card-header -->
                
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <!-- {{ csrfField() }} -->
                        <div class="form-group">
                          <b class="text-primary">Properti Surat</b>
                          <hr>
                        </div>
                        <div class="form-group">
                          <label for="klasifikasiTujuan">Klasifikasi Instansi Tujuan</label>
                          <select class="form-control" id="klasifikasiTujuan" name="klasifikasiTujuan" value="">
                            <option value="POLRES">POLRES</option>
                            <option value="Lainnya">Lainnya</option>
                          </select>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <div class="form-group">
                              <label for="klasifikasiSurat">Klasifikasi Surat</label>
                              <select class="form-control" id="klasifikasiSurat" name="klasifikasiSurat" value="">
                                <option value="Biasa">Biasa</option>
                                <option value="Rahasia">Rahasia</option>
                              </select>
                            </div>    
                          </div>
                          <div class="col-3">
                            <div class="form-group">
                              <label for="tglSurat">Tanggal</label>
                              <input type="date" class="form-control" id="tglSurat" name="tglSurat" value="">
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="form-group">
                              <label for="noSurat">Nomor Surat</label>
                              <input type="text" class="form-control" id="noSurat" name="noSurat" value="" placeholder="(tipe_surat / nomor_urut_surat / bulan / tahun)">
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="form-group">
                              <label for="fileLampiran">Lampiran</label>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileLampiran" name="fileLampiran" value="">
                                <label class="custom-file-label" for="fileLampiran"></label>
                                <a href="" target="_blank">Lihat Lampiran</a>
                              </div>
                            </div>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col-3">
                            <div class="form-group">
                              <label for="instansiTujuan">Instansi Tujuan</label>
                              <input type="text" class="form-control" id="instansiTujuan" name="instansiTujuan" value="" placeholder="Masukkan Instansi Tujuan">
                            </div>    
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="perihal">Perihal Surat</label>
                              <input type="text" class="form-control" id="perihal" name="perihal" value="" placeholder="Masukkan Perihal Surat">
                            </div>
                          </div>
                          <div class="col-3">
                            <div class="form-group">
                              <label for="status">Status</label>
                              <select class="form-control" id="status" name="status" value="">
                                <option value="Menunggu">Menunggu</option>
                                <option value="Dikembalikan">Dikembalikan</option>
                                <option value="Selesai">Selesai</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="form-group">
                          <label for="isiSurat" class="text-primary">Isi Surat</label>
                          <textarea id="isiSurat" name="isiSurat" placeholder="Masukkan Isi Surat di sini"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
</template>