<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <div class="card mt-2">
          <div class="card-header">
            <!-- @if(flashMessage('notification'))
            <div class="alert alert-success">
              {{ flashMessage("notification") }}
            </div>
            @endif -->

            <div class="row">
              <div class="col-10">
                <h3>Daftar Surat Keluar</h3>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn btn-block btn-primary"
                  data-toggle="modal"
                  data-target="#modal-add-outmails"
                >
                  <i class="fas fa-plus"></i> Tambah
                </button>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="tabel" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Klasifikasi Tujuan</th>
                  <th>Tanggal Surat</th>
                  <th>No. Surat</th>
                  <th>Kepada</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
               <tr v-for="outmail in outmails" :key="outmail.id">
                  <td>{{ outmail.id }}</td>
                  <td>{{ outmail.klasifikasi_tujuan }}</td>
                  <td>{{ outmail.tgl }}</td>
                  <td>{{ outmail.no_surat }}</td>
                  <td>{{ outmail.kepada }}</td>
                  <td>   
                    <template v-if="outmail.status === 'Menunggu'">
                    <span class="badge bg-warning">{{ outmail.status }}</span>
                    </template>
                    <template v-else-if="outmail.status === 'Dikembalikan'">
                    <span class="badge bg-primary">{{ outmail.status }}</span>
                    </template>
                    <template v-else>
                    <span class="badge bg-success">{{ outmail.status }}</span>
                    </template>
                  </td>
                  <td>
                    <a
                      href="/suratkeluar"
                      class="mr-2"
                    >
                      <i class="fas fa-arrow-circle-right text-secondary"></i>
                    </a>
                    <a href="/outmailedit">
                      <i class="fas fa-edit text-warning"></i> </a
                    ><br />
                    <a
                      href="{{ route('outmail.delete', { id : outmail.id }) }}"
                      class="mr-2"
                      onclick="konfirmasiHapus()"
                    >
                      <i class="fas fa-trash text-danger"></i>
                    </a>
                     <div v-if="outmail.status === 'Selesai'">
                    <a
                      href="{{ route('outmail.createOutmail', { id : outmail.id }) }}"
                    >
                      <i class="fas fa-print text-info"></i>
                    </a>
                    </div>
                    
                  </td>
                </tr>
                
              </tbody>
              <tfoot>
                <tr>
                  <th>No.</th>
                  <th>Klasifikasi Tujuan</th>
                  <th>Tanggal Surat</th>
                  <th>No. Surat</th>
                  <th>Kepada</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->

      <!-- col-2 -->
      <div class="col-2">
        <div class="card bg-success mt-2">
          <div class="card-body">
            <h2>
              <b @get-disetujui="disetujui"></b>
            </h2>
            <h6>Disetujui</h6>
          </div>
        </div>

        <div class="card bg-primary mt-2">
          <div class="card-body">
            <h2>
              <b @get-dikembalikan="dikembalikan"></b>
            </h2>
            <h6>Dikembalikan</h6>
          </div>
        </div>

        <div class="card bg-warning mt-2">
          <div class="card-body">
            <h2>
              <b @get-menunggu="menunggu"></b>
            </h2>
            <h6>Menunggu</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>

  <add-mail-form @add-outmail="addOutmail"/>
</template>

<script>
import addMailForm from '@/components/outmail/addMailForm.vue'
export default {
    components: {
      addMailForm, 
    },
    data() {
    return {
      outmails: [
        {
          id: 1,
          klasifikasi_tujuan : 'Kapolsek Sidodadi',
          no_surat: '001',
          kepada: 'Kantor Desa Telogerejo',
          tgl: '11-05-2022',
          status : 'Menunggu',
        },
        {
          id: 2,
          klasifikasi_tujuan : 'Kapolsek Sidodadi',
          no_surat: '002',
          kepada: 'Kantor Desa Telogerejo',
          tgl: '11-05-2022',
          status : 'Selesai',
        },
        {
          id: 3,
          klasifikasi_tujuan : 'Kapolsek Sidodadi',
          no_surat: '003',
          kepada: 'Kantor Desa Telogerejo',
          tgl: '11-05-2022',
          status : 'Dikembalikan',
        },
      ],
    }
  },
  methods: {
    addOutmail(outmail){
      this.outmails.push(outmail)
    },
    disetujui(){
      
    },
    dikembalikan(){

    },
    menunggu(){

    }
  }
}
</script>