<template>
            <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card mt-2">
                <div class="card-header">
                  <h3>Detail Surat Keluar</h3>
                </div>
                <!-- /.card-header -->
                
                <div class="card-body">
                  <div class="form-group">
                    <b class="text-primary">Properti Surat</b>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="klasifikasiTujuan">Klasifikasi Tujuan</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="klasifikasiSurat">Klasifikasi Surat</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="tglSurat">Tanggal</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="noSurat">Nomor Surat</label>
                        <p>{{ }}</p>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="form-group">
                        <label for="fileLampiran">Lampiran</label>
                        <p>
                          <!-- @if(outmail.lampiran != '-')
                            <a href="{{ assetsUrl('uploads/surat-keluar/lampiran/' + outmail.lampiran) }}" target="_blank">
                              {{ outmail.lampiran }}
                            </a>
                          @else
                              {{ outmail.lampiran }}
                          @endif -->
                        </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="instansiTujuan">Instansi Tujuan</label>
                        <p>{{  }}</p>
                      </div>    
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="perihal">Perihal Surat</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="status">Status</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="isiSurat" class="text-primary">Isi Surat</label>
                    <p>{{}}</p>
                  </div>
                  <a href="/outmaillist" class="btn btn-block btn-secondary">
                    <i class="fas fa-arrow-circle-left"></i> Kembali
                  </a>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
</template>