<template>
  <div class="modal fade" id="modal-add-outmails">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Surat Keluar</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <form
            action="{{  }}"
            method="POST"
            enctype="multipart/form-data"
          > -->
          <form @submit.prevent="submit">
            <!-- {{ csrfField() }} -->
            <div class="form-group">
              <b class="text-primary">Properti Surat</b>
              <hr />
            </div>
            <div class="form-group">
              <label for="klasifikasiTujuan">Klasifikasi Instansi Tujuan</label>
              <select
                class="form-control"
                id="klasifikasiTujuan"
                name="klasifikasiTujuan"
                v-model="outmail.klasifikasi_tujuan"
                required
              >
                <option value="POLRES">POLRES</option>
                <option value="Lainnya">Lainnya</option>
              </select>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label for="klasifikasiSurat">Klasifikasi Surat</label>
                  <select
                    class="form-control"
                    id="klasifikasiSurat"
                    name="klasifikasiSurat"
                    onchange=""
                  >
                    <option value="Biasa">Biasa</option>
                    <option value="Rahasia">Rahasia</option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="tglSurat">Tanggal</label>
                  <input
                    type="date"
                    class="form-control"
                    id="tglSurat"
                    name="tglSurat"
                    v-model="outmail.tgl"
                    required
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="noSurat">Nomor Surat</label>
                  <input
                    type="text"
                    class="form-control"
                    id="noSuratSK"
                    name="noSurat"
                    placeholder="tipe_surat/nomor_urut_surat/bulan/tahun"
                    v-model="outmail.no_surat"
                    required
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="fileLampiran">Lampiran</label>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="fileLampiran"
                      name="fileLampiran"
                    />
                    <label class="custom-file-label" for="fileLampiran"
                      >Upload File Lampiran</label
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label for="instansiTujuan">Instansi Tujuan</label>
                  <input
                    type="text"
                    class="form-control"
                    id="instansiTujuan"
                    name="instansiTujuan"
                    placeholder="Masukkan Instansi Tujuan"
                    v-model="outmail.kepada"
                    required
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="perihal">Perihal Surat</label>
                  <input
                    type="text"
                    class="form-control"
                    id="perihal"
                    name="perihal"
                    placeholder="Masukkan Perihal Surat"
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control" id="status" name="status" 
                    v-model="outmail.status"
                    required
                  >
                    <option value="Menunggu">Menunggu</option>
                    <option value="Dikembalikan">Dikembalikan</option>
                    <option value="Selesai">Selesai</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="form-group">
              <label for="isiSurat" class="text-primary">Isi Surat</label>
              <textarea
                id="isiSurat"
                name="isiSurat"
                placeholder="Masukkan Isi Surat di sini"
              ></textarea>
            </div>
            <div class="modal-footer justify-content-between">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Tutup
              </button>
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<script>
  export default {
    data(){
      return {
        outmail: {
          klasifikasi_tujuan: '',
          tgl: '',
          no_surat: '',
          kepada: '',
          status: '',
        }
      }
    },
    methods:{
      submit() {
        this.$emit('add-outmail', this.outmail)
        $('#modal-add-outmails').modal('hide')
      },
    },
  }
</script>