<template>
            <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card mt-2">
                <div class="card-header">
                  <h3>Ubah Surat Masuk</h3>
                </div>
                <!-- /.card-header -->
                
                <div class="card-body">
                  <h5 class="text-center">
                    POLRI DAERAH JAWA TIMUR<br>
                    RESOR LAMONGAN SEKTOR SUKODADI
                  </h5><hr>
                  <p class="text-center">
                    <b><u>LEMBAR DISPOSISI</u></b>
                  </p>
                  
                  <form action="" method="POST">
                    <!-- {{ csrfField() }} -->
                    <div class="form-group">
                      <label for="kepada">Kepada</label>
                      <input type="text" class="form-control" name="kepada" id="kepada" value="Kapolsek Sukodadi">
                    </div>
                    <div class="form-group">
                      <label for="noAgenda">Nomor Agenda</label>
                      <input type="text" class="form-control" name="noAgenda" id="noAgenda" value="" placeholder="Nomor agenda surat">
                    </div>
                    <div class="form-group">
                      <label for="pengirim">Pengirim</label>
                      <input type="text" class="form-control" name="pengirim" id="pengirim" value="" placeholder="Pengirim surat">
                    </div>
                    <div class="form-group">
                      <label for="noSurat">Nomor Surat</label>
                      <input type="text" class="form-control" name="noSurat" id="noSurat" value="" placeholder="Nomor surat">
                    </div>
                    <div class="form-group">
                      <label for="tglSurat">Tanggal Surat</label>
                      <input type="date" class="form-control" name="tglSurat" id="tglSurat" value="">
                    </div>
                    <div class="form-group">
                      <label for="perihal">Perihal</label>
                      <input type="text" class="form-control" name="perihal" id="perihal" value="" placeholder="Perihal surat">
                    </div>
                    <div class="form-group">
                      <label for="tglDiterima">Tanggal Diterima</label>
                      <input type="date" class="form-control" name="tglDiterima" value="">
                    </div>
                    <div class="form-group">
                      <label for="waktuDiterima">Waktu Diterima</label>
                      <input type="time" class="form-control" name="waktuDiterima" id="waktuDiterima" value="">
                    </div>
                    <div class="form-group">
                      <label for="jabatan">Status</label>
                      <select class="form-control" name="status" value="">
                        <option value="Menunggu Konfirmasi">Menunggu Konfirmasi</option>
                        <option value="Selesai">Selesai</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
</template>