<template>
            <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card mt-2">
                <div class="card-header">
                  <h3>Ubah Data Pengguna</h3>
                </div>
                <!-- /.card-header -->
                
                <div class="card-body">
                    <form action="" method="POST">
                      <!-- {{ csrfField() }} -->
                      <div class="form-group">
                        <label for="jabatan">Role</label>
                        <select class="form-control" name="role" value="">
                          <option value="Admin">Admin</option>
                          <option value="KAPOLSEK">KAPOLSEK</option>
                          <option value="Satuan Kerja">Satuan Kerja</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="nama">Nama</label>
                        <input type="text" class="form-control" id="nama" name="nama" value="" placeholder="Nama lengkap Anda">
                      </div>
                      <div class="form-group">
                        <label for="nrp">NRP (Nomor Register Pokok)</label>
                        <input type="text" class="form-control" id="nrp" name="nrp" value="" placeholder="NRP Anda">
                      </div>
                      <div class="form-group">
                        <label for="jabatan">Satuan</label>
                        <select class="form-control" name="satuan" value="">
                          <option value="SIUM">SIUM</option>
                          <option value="RESKRIM">RESKRIM</option>
                          <option value="BABHINKAMTIBMAS">BABHINKAMTIBMAS</option>
                          <option value="SPKT">SPKT</option>
                          <option value="SABHARA">SABHARA</option>
                          <option value="INTELKAM">INTELKAM</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="jabatan">Pangkat</label>
                        <select class="form-control" name="pangkat" value="">
                          <option value="KOMPOL">KOMPOL</option>
                          <option value="AKP">AKP</option>
                          <option value="IPTU">IPTU</option>
                          <option value="IPDA">IPDA</option>
                          <option value="AIPTU">AIPTU</option>
                          <option value="AIPDA">AIPDA</option>
                          <option value="BRIPKA">BRIPKA</option>
                          <option value="BRIGPOL">BRIGPOL</option>
                          <option value="BRIGTU">BRIGTU</option>
                          <option value="BRIGDA">BRIGDA</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="jenisKelamin">Jenis Kelamin</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="jenisKelamin" value="Laki-laki" checked>
                          <label class="form-check-label" for="Laki-laki">Laki-laki</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="jenisKelamin" value="Perempuan">
                          <label class="form-check-label" for="Perempuan">Perempuan</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <textarea class="form-control" rows="3" name="alamat" placeholder="Alamat Anda">{{  }}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="jabatan">Status</label>
                        <select class="form-control" name="status" value="{{  }}">
                          <option value="Aktif">Aktif</option>
                          <option value="Tidak aktif">Tidak aktif</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{  }}" placeholder="Username Anda">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" value="{{  }}" placeholder="Password Anda">
                      </div>
                      <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
</template>