<template>
            <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card mt-2">
                <div class="card-header">
                  <h3>Detail Data Pengguna</h3>
                </div>
                <!-- /.card-header -->
                
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="jabatan">Role</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="nama">Nama</label>
                        <p>{{  }}</p>
                      </div>    
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="nrp">NRP (Nomor Register Pokok)</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="jabatan">Satuan</label>
                        <p>{{  }}</p>
                      </div>    
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="jabatan">Pangkat</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="jenisKelamin">Jenis Kelamin</label>
                        <p>{{  }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="alamat">Alamat</label>
                    <p>{{  }}</p>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="jabatan">Status</label>
                        <p>{{  }}</p>
                      </div>    
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="username">Username</label>
                        <p>{{ }}</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="password">Password</label>
                        <p>{{  }}</p>
                      </div>  
                    </div>
                  </div>
                  <a href="/userlist" class="btn btn-block btn-secondary">
                    <i class="fas fa-arrow-circle-left"></i> Kembali
                  </a>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
</template>