<template>
    <!-- add-inmails-modal -->
    <div class="modal fade" id="modal-add-inmails">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Surat Masuk</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="text-center">
              POLRI DAERAH JAWA TIMUR<br />
              RESOR LAMONGAN SEKTOR SUKODADI
            </h5>
            <hr />

            <!-- <form action="{{  }}" method="POST" enctype="multipart/form-data"> -->
            <form @submit.prevent="submit">
              <!-- {{ csrfField() }} -->
              <div class="form-group">
                <label for="tanggal">Tanggal</label>
                <input
                  type="date"
                  v-model="inmail.tgl" 
                  required
                  class="form-control"
                  id="tanggal"
                  name="tanggal"
                />
              </div>
              <div class="form-group">
                <label for="noAgenda">Nomor Agenda</label>
                <input
                  type="text"
                  v-model="inmail.no_agenda" 
                  required
                  class="form-control"
                  id="noAgendaSM"
                  name="noAgenda"
                  placeholder="tipe_surat/nomor_urut_surat/bulan/tahun"
                />
              </div>
              <div class="form-group">
                <label for="noSurat">Nomor Surat</label>
                <input
                  type="text"
                  class="form-control"
                  id="noSurat"
                  name="noSurat"
                  placeholder="Nomor surat"
                />
              </div>
              <div class="form-group">
                <label for="tanggalSurat">Tanggal Surat</label>
                <input
                  type="date"
                  class="form-control"
                  id="tanggalSurat"
                  name="tanggalSurat"
                />
              </div>
              <div class="form-group">
                <label for="fileLampiran">Lampiran</label>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="fileLampiran"
                    name="fileLampiran"
                  />
                  <label class="custom-file-label" for="fileLampiran"
                    >Upload File Lampiran</label
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="pengirim">Pengirim</label>
                <input
                  type="text"
                  v-model="inmail.pengirim" 
                  required
                  class="form-control"
                  id="pengirim"
                  name="pengirim"
                  placeholder="Pengirim surat"
                />
              </div>
              <div class="form-group">
                <label for="perihal">Perihal</label>
                <input
                  type="text"
                  class="form-control"
                  id="perihal"
                  name="perihal"
                  placeholder="Perihal surat"
                />
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status" v-model="inmail.status" required>
                  <option value="Menunggu Konfirmasi">Menunggu Konfirmasi</option>
                  <option value="Selesai">Selesai</option>
                </select>
              </div>
              <div class="form-group">
                <label for="fileSurat">Upload File (pdf)</label>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="fileSurat"
                    name="fileSurat"
                  />
                  <label class="custom-file-label" for="fileSurat"
                    >Upload File Surat Masuk</label
                  >
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Tutup
                </button>
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.add-inmails-modal -->
</template>

<script>
  export default {
    data(){
      return {
        inmail: {
          no_agenda: '',
          tgl: '',
          pengirim: '',
          status: '',
        }
      }
    },
    methods:{
      submit() {
        this.$emit('add-inmail', this.inmail)
        $('#modal-add-inmails').modal('hide')
      },
    },
  }
</script>