<template>
    <div class="col-md-10">
        <div class="card mt-2">
            <div class="card-header">
                <h3>Ubah Surat Masuk</h3>
            </div>
            <div class="card-body">
                <h5 class="text-center">
                    POLRI DAERAH JAWA TIMUR<br>
                    RESOR LAMONGAN SEKTOR SUKODADI
                </h5><hr>
                <form id="edit-form" @submit.prevent="submit" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="edit-form-id" name="edit-form-id">
                    <div class="form-group">
                        <label for="edit-form-tanggal">Tanggal</label>
                        <input type="date" class="form-control" id="edit-form-tanggal" name="edit-form-tanggal">
                    </div>
                    <div class="form-group">
                        <label for="edit-form-noAgenda">Nomor Agenda</label>
                        <input type="text" class="form-control" id="edit-form-noAgenda" name="edit-form-noAgenda" value="" placeholder="Nomor agenda surat" required>
                    </div>
                    <div class="form-group">
                        <label for="noSurat">Nomor Surat</label>
                        <input type="text" class="form-control" id="noSurat" name="noSurat" value="" placeholder="Nomor surat">
                    </div>
                    <div class="form-group">
                        <label for="tanggalSurat">Tanggal Surat</label>
                        <input type="date" class="form-control" id="tanggalSurat" name="tanggalSurat" value="">
                    </div>
                    <div class="form-group">
                        <label for="fileLampiran">Lampiran</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fileLampiran" name="fileLampiran" value="">
                            <label class="custom-file-label" for="fileLampiran"> </label>
                            <a href="{{ }}" target="_blank">Lihat Lampiran</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-form-pengirim">Pengirim</label>
                        <input type="text" class="form-control" id="edit-form-pengirim" name="edit-form-pengirim" value="" placeholder="Pengirim surat" required>
                    </div>
                    <div class="form-group">
                        <label for="perihal">Perihal</label>
                        <input type="text" class="form-control" id="perihal" name="perihal" value="" placeholder="Perihal surat">
                    </div>
                    <div class="form-group">
                        <label for="edit-form-status">Status</label>
                        <select class="form-control" id="edit-form-status" name="edit-form-status" value="" required>
                            <option value="Menunggu Konfirmasi">Menunggu Konfirmasi</option>
                            <option value="Selesai">Selesai</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fileSurat">Upload File (pdf)</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fileSurat" name="fileSurat" value="">
                            <label class="custom-file-label" for="fileSurat"></label>
                            <a href="" target="_blank">Lihat File surat</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-form-diteruskan">Diteruskan</label>
                        <select class="form-control" id="edit-form-diteruskan" name="edit-form-diteruskan" required>
                            <option value="SIUM">SIUM</option>
                            <option value="RESKRIM">RESKRIM</option>
                            <option value="BABHINKAMTIBMAS">BABHINKAMTIBMAS</option>
                            <option value="SPKT">SPKT</option>
                            <option value="SABHARA">SABHARA</option>
                            <option value="INTELKAM">INTELKAM</option>
                        </select>
                    </div>
                    <button @click="saveEdit(inmail)" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data(){
      return {
        editInmail: {
          id: '',
          no_agenda: '',
          tgl: '',
          pengirim: '',
          diteruskan: '',
          status: '',
        },
      }
    },
    methods:{
      saveEdit(inmail) {
          try {
              let formData = $('#edit-form').serializeArray()
              
              this.editInmail.id = formData[0].value
              this.editInmail.tgl = formData[1].value.split("-").reverse().join("-")
              this.editInmail.no_agenda = formData[2].value
              this.editInmail.pengirim = formData[5].value
              this.editInmail.status = formData[7].value
              this.editInmail.diteruskan = formData[8].value
              
              this.$emit('edit-inmail', this.editInmail)
          } catch (error) {
              
          }
      },
    },
  }
</script>